prototypes/protoDesktopApplication/database/
prototypes/protoDesktopApplication/img/
prototypes/protoDesktopApplication/resources/
ideas/DjangoWebApp/testDjango/testDjango/__pycache__/
ideas/DjangoWebApp/testDjango/parkinglotmanager/__pycache__/
